doctype html
html(lang="en")
  head
    title= "dopm's Games ~ The Games"
    script(src='/ajax/db.js')
    style
      include ../public/css/games.css
      include ../public/css/menu.css
  body
    include menu.jade
    div(id='games')
