doctype html
html(lang="en")
  head
    title= "dopm's Games ~ Home"
    script(src='/js/index.js')
    style
      include ../public/css/menu.css
      include ../public/css/index.css
  body
    include menu.jade
    h1 Welcome.
