div(id='cssmenu')
  ul(id='menu')
    li(class='menu home')
      a(href='/')

  table(id='menu')
    tr
      td(class='menu home')
        a(href='/') Home
    tr
      td(class='menu top-level')
        a(href='/games') Games
    tr
      td(class='menu top-level')
        a(href='/songs') Songs
