doctype html
html(lang="en")
  head
    title= "dopm's Games ~ Submit a Game"
    script(src='/js/submit.js')
    include ./jquery.jade
    script(src='/jq/submit.js')
    style
      include ../public/css/submit.css
      include ../public/css/menu.css
  body
    include menu.jade
    h1 Game
    form(id='submit-game' enctype='multipart/form-data' method='post' action='/api/submit')
      table
        tr: td
          | Name: 
          input(required id='form-name' name='name' type='text' class='table one')
          | Rating: 
          input(required id='rating' type='number' name='rating' min='1' max='10'  class='table one')
        tr: td
          | Developer(s):
          textarea(required rows='3' name='deveoper' class='table one')
        tr: td
          | Genre(s):
          textarea(required style='margin-left: 9.5mm' rows='3' name='genre' class='table one')
      table
        tr: td
          | Platform: 
          input(required name='platform' class='table two platform' type='text')
          | ESRB: 
          select(name='esrb' id='esrb')
            option(value='E') E
            option(value='E10+') E10+
            option(value='T') T
            option(value='M') M
            option(value='A') A
        tr: td
          span(class='submit-form') Release Date:
          input(required name='rel_date' id='rel_date' type='text' class='second-row')
        tr: td
          | Boxart: 
          input(id='fileinput' type='file' name='boxart' style='margin-left: 12.7mm')
        br
        button(form='submit-game') Submit
        input(type='reset' form='submit-game')


