@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset 'UTF-8';

.fn-same() {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}

.fn-border-radius(@value) {
  -moz-border-radius: @value;
  -webkit-border-radius: @value;
  border-radius: @value;
}

.fn-box-shadow(@value) {
  -moz-box-shadow: @value;
  -webkit-box-shadow: @value;
  box-shadow: @value;
}

.fn-linear-background(@top, @bottom) {
  @_top: e(extract(@top, 1)) e(extract(@top, 2));
  @_bot: e(extract(@bottom, 1)) e(extract(@bottom, 2));
  @top_: e(extract(@top, 2)), e(extract(@top, 1));
  @bot_: e(extract(@bottom, 2)), e(extract(@bottom, 1));

  background: e(extract(@top, 1));
  background: -moz-linear-gradient(@_top, @_bot);
  background: -webkit-gradient(linear, e(extract(@top, 3)) e(extract(@top, 4)), e(extract(@bottom, 3)) e(extract(@bottom, 4)), color-stop(@top_), color-stop(@bot_));
  background: -webkit-linear-gradient(@_top, @_bot);
  background: linear-gradient(@_top, @_bot);
}

.fn-list-style (@style) {
  list-style-type: @style;
  list-style: @style;
}

body {
  margin-left: 100px;
}

#menu {
  /* position */
  text-align: center;
  border-spacing: 0;
  left: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  /* menu design */
  padding: 0; // makes home sit alongside the submenus
  line-height: 1;
  .fn-border-radius(3px);
  border-left: none;
  background: url(images/pattern.png) top repeat;
  .menu {
    .fn-linear-background("#66665e" "0%" left top, "#45463d" "100%" left bottom);
    padding-right: 10px;
    padding-bottom: 2px;
    &.home {
      border: 1px solid #45463d;
    }
    &.top-level {
      .fn-linear-background("#e94f31" "0%" left top, "#d13516" "100%" left bottom);
      border-top: none;
    }
    a {
      color: white;
      line-height: 1.3;
      text-decoration: none;
    }
  }
  position: fixed;
}

#cssmenu {
  .fn-linear-background("#66665e" "0%" left top, "#45463d" "100%" left bottom);
  height: 20%;
}
