tr td {
  textarea.table {
    &.one {
    }
    vertical-align: top;
    margin-left: 3mm;
  }
  input {
    #rating {
      width: 9mm;
    }
    #rel_date {
      padding-right: 21mm;
      margin-left: 2.5mm;
      margin-left: 3mm;
    }
    .table {
      &.two {
        &.platform {
          width: 28mm;
          display: inline;
          margin-left: 10mm;
        }
      }
    }
  }
  select#esrb {
    margin-left: 2.5mm;
  }
}
